<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        * {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h1><%= title %> <br />Coming Soon...</h1>
  </body>
</html>
